$change-password : 'change-password';

.#{$change-password} {
  &__bg {
    background          : url("#{$image-path}/components/user/change-password-bg.png") no-repeat;
    background-size     : cover;
    background-position : center;
    width               : 100%;
    height              : 100%;
    position			: relative;
    padding-bottom		: 5rem;
  }
  &__title {
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 2rem;
    h2 {
      padding-bottom: 1rem;
    }
  }
  &__form {
		width: 100%;
		@include mq($from : smallMobile-768) {
			width: 50%;
		}
  }
}
