$news-latest : 'news-latest';

.#{$news-latest} {
  margin-bottom : 1rem;
  &__title {
    font-size     : 16px;
    line-height   : 23px;
    border-bottom : 3px solid $primary-color;
    background    : #323439;
    padding       : 1.5rem 1rem;
  }
  &__content {
    background-color : $third-color;
    padding          : 1rem;
  }
}
