$news-item-block : 'news-item-block';

.#{$news-item-block} {
  display          : flex;
  background-color : #0c0a0a;
  position         : relative;
  box-shadow       : 0px 4px 8px rgba(0, 0, 0, 0.09), 0px 2px 4px rgba(0, 0, 0, 0.09), 0px 2px 2px rgba(0, 0, 0, 0.09);
  margin-bottom    : 1rem;
  &__wrap-img {
    width       : 40%;
    padding-top : 30%;
    position    : relative;
    cursor      : pointer;
    img {
      object-fit      : contain;
      object-position : top;
      position        : absolute;
      height          : 100%;
      width           : 100%;
      left            : 0;
      top             : 0;
    }
  }
  &__content {
    padding     : 0;
    width       : 60%;
    margin-left : .5rem;
    position    : relative;
  }
  &__category {
    display       : inline-block;
    margin-bottom : .5rem;
    font-size     : 10px;
    line-height   : 15px;
    color         : $second-color;
    border-bottom : 1px solid $second-color;
    cursor        : pointer;
    @include mq($from : smallMobile-768) {
      font-size   : 12px;
      line-height : 18px;
    }
  }
  &__text {
    font-size          : 14px;
    line-height        : 20px;
    display            : -webkit-box;
    -webkit-line-clamp : 2;
    -webkit-box-orient : vertical;
    overflow           : hidden;
    cursor             : pointer;
    transition         : all 0.5s ease;
    &:hover, &:focus {
      color      : $second-color;
      transition : all 0.5s ease;
    }
  }
}
