$sport-item : 'sport-item';

.#{$sport-item} {
  position : relative;
  &__link {
    @extend %typo-link;
  }
  &__container {
    position    : relative;
    padding-top : 100%;
    transition  : .4s cubic-bezier(.5, 0, .1, 1);
    color       : #ffffff;
  }
  &__img {
    @extend %typo-img;
  }
  &__content {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    z-index         : 1;
    height          : 60%;
    background      : linear-gradient(180deg, rgba(27, 22, 23, 0) 0.54%, rgba(27, 22, 23, 0.85) 88.38%);
    display         : flex;
    justify-content : center;
    align-items     : flex-end;
    padding         : 0.5rem;
    text-align      : center;

    &__btn {
      background-color : $third-color;
      text-align       : right;
      position         : relative;
      padding          : 1rem 1.5rem;
      font-size        : 16px;
      line-height      : 23px;

      img {
        width       : 20px;
        margin-left : .25rem;
      }
    }

    &__title {
      font-size   : 10px;
      line-height : 15px;
      padding     : 0;
    }

    &__text {
      font-size     : 16px;
      line-height   : 23px;
      padding       : 0 1.5rem;
      margin-bottom : 1rem;
    }
  }
}
