$history-transaction : 'history-transaction';

.#{$history-transaction} {
  min-height : 403px;
  background : #202023;
  &.loading {
    position : relative;
    opacity  : 0.6;
    &:before {
      content  : '';
      position : absolute;
      left     : 0;
      top      : 0;
      right    : 0;
      bottom   : 0;
      z-index  : 2;
    }
  }
}
