$momo-list: 'momo-list';
$momo-item: 'momo-item';


.#{$momo-list} {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
    @media screen and (min-width: 768px){
      column-gap: 1rem;
    }
  }
  .#{$momo-item} {
    input, label {
      transition: all 0.2s;
      touch-action: manipulation;
      color: #838A92;
    }
    label {
      display: flex;
      align-items: center;
      background: #323439;
      border-radius: 4px;
      padding: 0.5rem;
      cursor: pointer;
      @media screen and (min-width: 768px) {
        padding: 1rem;
      }
      img {
        width: 20px;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        @media screen and (min-width: 768px) {
          width: 28px;
        }
      }
    }
    input[type=radio] {
      margin: 0;
      padding: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: none;
      position: absolute;
      &:checked {
        & + label {
          background: #F7F8FA;
          b {
            color: #202023;
          }
          img {
            -webkit-filter: grayscale(0);
            filter: grayscale(0)
          }
        }
      }
    }
    &__content {
      margin-left: 0.25rem;
      font-size: 10px;
      line-height: 14px;
      color: #838A92;
      @media screen and (min-width: 768px) {
        margin-left: 0.5rem;
        font-size: 12px;
        line-height: 18px;
      }
      b {
        color: #F7F8FA;
      }
    }
  }
  @import "../common/base/base-error";
}
