$wrapper-title: 'wrapper-title';

.#{$wrapper-title} {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    margin-bottom: 1rem;
    @media screen and (min-width: 768px) {
      margin-bottom: 1.5rem;
    }
  }
}
