$bottom-bar-content : 'bottom-bar-content';

.#{$bottom-bar-content} {
  &__text {
    font-size   : 3.125vw;
    line-height : 4.6875vw;
    text-align  : center;
    margin-top  : 1.25vw;
    @include mq($from : smallMobile-480) {
      font-size   : 10px;
      line-height : 15px;
      margin-top  : 0.5rem;
    }
  }
  &__icn {
    text-align  : center;
    line-height : 0;
    cursor      : pointer;
  }
  &__img {
    height : 7.5vw;
    width: 7.5vw;
    @include mq($from : smallMobile-480) {
      height : 24px;
      width: 24px;
    }
  }
}
