$bottom-section: 'bottom-section';

.#{$bottom-section} {
		padding: 50px 0;
		border-bottom: 1px solid #fff;
		margin-bottom: 50px;
    h4{
        padding: 20px 0 20px;
        font-size: 18px;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
				li{
					line-height: 26px;
				}
        a{
            color: #8c8c8c;
            &:hover{
                color: #ed1b24;
            }
        }
    }
    .contact{
			&>div{
				line-height: 26px;
			}
			svg{
					color: #ed1b24;
			}
			span{
					color: #8c8c8c;
			}
    }
    .newsletter-form {
        position: relative;
        border-color: #333;
        margin-top: 5px;
        input{
            position: relative;
            border-color: #dddddd;
            line-height: 40px;
            font-size: 12px;
            display: block;
            width: calc(100% - 60px);
            height: 40px;
            padding: 9px 12px;
            color: #dddddd;
            background-color: #2b2b2b;
            background-image: none;
            border: 1px solid #dddddd;
            border-right: 0;
            border-radius: 0px;
        }
        button{
            right: 0;
            top: 0;
            background: #ed1b24;
            border: #ed1b24;
            z-index: 2;
            line-height: 40px;
            height: 41px;
            padding: 0;
            position: absolute;
            margin: 0;
            color: #252525;
            span{
                font-size: 12px;
                padding: 13px 19px 12px;
                line-height: 13px;
                font-weight: 600;
                display: inline-block;
                color: #fff;
            }
        }
    }
}
