$social: 'social';

.#{$social} {
  display: none;
  justify-content: center;
  @media screen and (min-width: 981px) {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    span {
      color: #B50000;
      margin-left: 0.25rem;
    }
    a {
      margin: 0 0.5rem;
      transition: all .3s linear;
      &:nth-child(2) {
        margin-left: 2rem;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
