$support-section: 'support-section';

.#{$support-section} {
  display: none;
  @media screen and (min-width: 981px) {
    border-top: 1px solid #323439;
    display: block;
    background: #202023;
    .container {
      display: flex;
      justify-content: space-between;
      a {
        display: inline-block;
        padding: 1.25rem 0;
        font-size: 12px;
        line-height: 18px;
        color: #838A92;
        font-weight: 800;
        transition  : all 0.5s ease;
        &:hover, &:focus {
          color      : $second-color;
          transition : all 0.5s ease;
        }
      }
    }
  }
}
