$card-about: 'card-about';

.#{$card-about} {
  display: grid;
  row-gap: 10px;
  padding: 0.5rem 0 2.625rem;
  &__item {
    display: flex;
    background: linear-gradient(245.08deg, rgba(0, 0, 0, 0.19) -25.63%, rgba(50, 50, 50, 0.65) 39.5%,
      #0C0A0A 40.67%, #0C0A0A 43.73%), #0C0A0A;
    border: 1px solid #3B3E43;
    border-radius: 6px;
    padding: 1rem;
    text-align: left;
  }
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 15px;
  }
  &__icon {
    background-color: #B50000;
    border-radius: 50%;
    padding: 0.875rem;
    width: 54px;
    height: 54px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__title {
    color: #febc1f;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 0.5rem;
  }
  &__content {
    font-size: 12px;
    line-height: 18px;
    color: #E0E0E0;
  }

  @include mq($from : mobile) {
    padding: 1.5rem 0 3rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 29px;
    &__item {
      padding:2rem 1.75rem;
      flex-direction: column;
    }
    &__body {
      padding-left: 0;
    }
    &__icon {
      width: 71px;
      height: 71px;
      padding: 20px;
    }
    &__title {
      font-size: 18px;
      line-height: 26px;
      padding: 1.625rem 0 1rem;
    }
    &__content {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
