$soi-keo-item : 'soi-keo-item';

.#{$soi-keo-item} {
  background    : #f9eded;
  font-size     : 14px;
  line-height   : 28px;
  padding       : 1rem .75rem;
  margin-bottom : 10px;
  position      : relative;
  display       : none;
  @include mq($from : smallMobile-768) {
    display : flex;
    padding : .75rem;
  }
  &__link {
    display            : -webkit-box;
    -webkit-line-clamp : 1;
    -webkit-box-orient : vertical;
    overflow           : hidden;
    text-overflow      : ellipsis;
    color              : $primary-color;
    transition         : all 0.5s ease;
    &:hover, &:focus {
      text-decoration : underline;
      transition      : all 0.5s ease;
    }
  }
  img {
    display   : block;
    position  : absolute;
    left      : .75rem;
    top       : 50%;
    transform : translateY(-50%);
  }
  span {
    margin-left : 1.2rem;
  }
  &:nth-child(1), &:nth-child(2) {
    display       : flex;
    padding       : .5rem .75rem;
    margin-bottom : 5px;
  }
}
