$category : 'category';

.#{$category} {
  background-color : #ffffff;
  position         : relative;
  &__container {
    max-width : 1144px;
    margin    : 0 auto;
    padding   : 0 0.5rem;;
    @include mq($from : desktop) {
      max-width : 1376px;
    	padding   : 2rem 1rem;
    }
  }
  &__container-mb {
    @include mq($from : mobile) {
      max-width : 1144px;
      margin    : 0 auto;
      padding   : 0 15px;
    }
    @include mq($from : desktop) {
      max-width : 1376px;
    }
  }
  &__name {
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
    color: #323439;
    padding-bottom: 1rem;
    @include mq($from : mobile) {
      font-size: 46px;
      line-height: 67px;
      padding-bottom: 2rem;
    }
  }
  &__content {
    @include mq($from : mobile) {
      display : flex;
    }
  }
  &__left {
    @include mq($from : mobile) {
      flex          : 0 0 75%;
      max-width     : 75%;
      padding-right : 1rem;
    }
  }
  &__desc {
    color: #323439;
    padding: 15px 20px;
    background: #FFF8F8;
    border: 1px dashed #B50000;
    margin-bottom: 40px;
    max-height: 120px;
    overflow: auto;
  }

  &__desc::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 20px;
    background-color: #FFF8F8;
  }

  &__desc::-webkit-scrollbar {
    width: 6px;
    background-color: #FFF8F8;
  }

  &__desc::-webkit-scrollbar-thumb {
    height: 50px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #B50000;
  }

  &__right {
    @include mq($from : mobile) {
      flex      : 0 0 25%;
      max-width : 25%;
    }
  }
  &__promotion {
    @include mq($until : mobile) {
      background-color : #b50000;
      margin-bottom    : 1.5rem;
      margin-top       : 1.5rem;
      padding          : 2rem 0.5rem;
      &::v-deep {
        h3 {
          font-size     : 15px;
          line-height   : 22px;
          text-align    : center;
          margin-bottom : 0.5rem;
        }
        .swiper-pagination-promotion {
          display : flex;
        }
      }
    }
    @include mq($from : mobile) {
      display       : block;
      padding       : 0;
      margin-bottom : 2rem;
      margin-top    : 2rem;
      margin-right  : 3rem;
      &::v-deep {
        h3 {
          display : none;
        }
        .swiper-button-next {
          transform      : translate(0%, -50%);
          right          : -4rem;
          -webkit-filter : invert(0.5);
          filter         : invert(0.5);
        }
      }
    }
  }

  &__pagination {
    padding-top    : 2rem;
    padding-bottom : 5rem;
  }
  &__none {
    padding-bottom : 5rem;
    text-align     : center;
    @include mq($from : mobile) {
      text-align     : left;
      padding-bottom : 0;
    }
    h3 {
      color     : #323439;
      display   : block;
      font-size : 20px;
      @include mq($from : mobile) {
        font-size : 24px;
      }
    }
  }
  &__load-more {
    display    : block;
    text-align : center;
    span {
      display       : inline-block;
      background    : #e5e6e9;
      font-style    : normal;
      font-weight   : 500;
      font-size     : 12px;
      line-height   : 18px;
      color         : $primary-color;
      padding       : 0.5rem 1.5rem;
      border-radius : 100px;
      cursor        : pointer;
    }
  }
	.tab-new-categories {
		margin-top: -2rem;
		/deep/ .tab-content{
			padding-right: 0.5rem;
		}
	}
}
