$faq: 'faq';

.#{$faq} {
  &__banner {
    background: url("#{$image-path}components/pages/faq/banner-faq.jpg") no-repeat center;
    background-size: cover;
    padding-top: 41%;
    margin-bottom: 1.5rem;
    position: relative;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .5rem;
    .nav-link {
      white-space: nowrap;
      font-size: 12px;
      line-height: 32px;
      border-radius: 5px;
      border: 1px solid #323439;
      padding: .25rem .5rem;
      text-transform: uppercase;
      color: $fifth-color;
      text-align: center;
    }
    .active {
      background-color: $second-color;
      color: $body-bg;
      font-weight: bold;
    }
  }
  &__hdg {
    position: absolute;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
    span {
      color: $second-color;
      display: block;
    }
  }
  &__content {
    background: #202023;
    padding: 1.5rem .5rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
    margin-top: 1.5rem;
    .card {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .btn-link {
      white-space: normal;
      text-align: left;
      padding: .75rem;
      height: auto;
      display: flex;
      align-items: center;
      border-radius: 5px;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      &:hover, &:focus {
        box-shadow: none;
        color: $body-color;
        text-decoration: none;
      }
      &:before {
        content: "";
        background: #323439;
        height: 10px;
        width: 10px;
        display: inline-block;
        border-radius: 50%;
      }
      i {
        display: inline-block;
        width: 20px;
        height: 20px;
        background:  url("#{$image-path}components/pages/faq/open.svg") no-repeat center;
        background-size: contain;
      }
      span {
        flex: 1;
        padding: 0 .5rem;
        color: #fff;
        text-transform: capitalize;
      }
      &.not-collapsed {
        text-decoration: none;
        background-color: $primary-color;
        &:before {
          background: $second-color;
        }
        i {
          background:  url("#{$image-path}components/pages/faq/close.svg") no-repeat center;
          background-size: contain;
        }
      }
    }
    .card-header {
      border-radius: 5px !important;
      background: $body-bg;
      border: 0;
      padding: 0 !important;
      margin: 0 !important;
      z-index: 1;
    }
    .card-body {
      margin-top: 6px;
      background: #323439;
      border-radius: 3px;
      padding: 1.5rem .75rem;
      font-size: 12px;
      line-height: 18px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: -10px;
        right: 1rem;
        border-style: solid;
        border-width: 0 0 18px 18px;
        border-color: transparent transparent #323439 transparent;
      }
      p {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .pagination {
      margin-top: 2rem;
    }
  }
  @media screen and (min-width: 768px) {
    background: #202023;
    &__banner {
      background: url("#{$image-path}components/pages/faq/banner-faq-pc.jpg") no-repeat center;
      background-size: cover;
      padding-top: 17%;
    }
    &__hdg {
      padding: 0;
      font-size: 42px;
      line-height: 61px;
    }
    &__inner {
      margin-right: 1rem;
    }
    &__menu {
      display: block;
      flex: 0 0 30%;
      .nav-link {
        display: block;
        margin-bottom: 1rem;
        font-size: 16px;
        line-height: 32px;
        padding: .65rem 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__content {
      margin-left: 0;
      margin-right: 0;
      flex: 0 0 70%;
      max-width: 70%;
      margin-top: 0;
      padding: 0;
      min-height: 28rem;
      .card-body {
        margin-top: 1rem;
        font-size: 14px;
        line-height: 20px;
        padding: 2rem 1rem;
      }
      .btn-link {
        font-size: 16px;
        line-height: 20px;
        padding: 2rem 1rem;
        i {
          height: 25px;
          width: 25px;
        }
      }
    }
    &__container {
      display: flex;
      padding-bottom: 6.5rem;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
