$hotmatch-item: 'hotmatch-item';
.#{$hotmatch-item} {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__link {
    @extend %typo-link;
    z-index: 0;
  }
  &__wrap {
    margin-bottom: 0.75rem;
    &--bot {
      background: linear-gradient(0deg, #4b3638, #4b3638), #1d0003;
      border: 1px solid #453739;
      padding: 0.5rem;
      margin-bottom: 0;
    }
  }
  &__wrap-team {
    display: flex;
    align-items: center;
    span {
      margin-right: 1rem;
    }
  }
  &__odd {
    span {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      &:before {
        height: 19px;
        width: 19px;
        margin-right: 0.25rem;
      }
    }
    .odd-down {
      color: $second-color;
    }
    .odd-up {
      color: #27ae60;
    }
  }
  &__league {
    margin-bottom: 1rem;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.03em;
    padding-right: 2.6rem;
  }
  &__time {
    margin-bottom: 0.5rem;
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    .date {
      padding-right: 0.5rem;
      margin-right: 60px;
    }
  }
  &__team {
    line-height: 20px;
    max-width: 160px;
  }
  &__flag {
    width: 60px;
    height: 45px;
    position: relative;
    margin-right: 1rem;

    &--red {
      background: url('#{$image-path}components/lobby/hotmatch-item/mobile-bg-red.jpg') no-repeat center;
      background-size: cover;
    }
    &--green {
      background: url('#{$image-path}components/lobby/hotmatch-item/mobile-bg-green.jpg') no-repeat center;
      background-size: cover;
    }
    &--yellow {
      background: url('#{$image-path}components/lobby/hotmatch-item/mobile-bg-yellow.jpg') no-repeat center;
      background-size: cover;
    }
    &--blue {
      background: url('#{$image-path}components/lobby/hotmatch-item/mobile-bg-blue.jpg') no-repeat center;
      background-size: cover;
    }

    .flag-img {
      width: 34px;
      height: 34px;
      background: #F7F8FA;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      border: 3px solid #f7f8fa;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      margin: -17px auto 0;

      picture {
        /deep/ img {
          width: 28px;
          height: 28px;
          object-fit: contain;
          @extend %typo-img;
          @include mq($from: tablet) {
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }
  &__odd {
    text-align: right;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
  }

  &__wrap-btn {
    text-align: center;
    margin-top: auto;
  }

  @include mq($until: tablet) {
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  @include mq($from: tablet) {
    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      padding-bottom: 3rem;
    }

    &__league,
    &__time {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 0;
    }

    &__wrap-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    &__flag {
      cursor: pointer;
      width: 100%;
      height: auto;
      padding-top: 44%;
      &--red {
        background: url('#{$image-path}components/lobby/hotmatch-item/bg-red.jpg') no-repeat center;
        background-size: cover;
      }
      &--green {
        background: url('#{$image-path}components/lobby/hotmatch-item/bg-green.jpg') no-repeat center;
        background-size: cover;
      }
      &--yellow {
        background: url('#{$image-path}components/lobby/hotmatch-item/bg-yellow.jpg') no-repeat center;
        background-size: cover;
      }
      &--blue {
        background: url('#{$image-path}components/lobby/hotmatch-item/bg-blue.jpg') no-repeat center;
        background-size: cover;
      }

      .flag-img {
        width: 106px;
        height: 106px;
        margin: 0 auto;
        background: #F7F8FA;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        border: 8px solid rgba(#f7f8fa, 1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -53px;

        img {
          max-width: 100%;
          object-fit: contain;
        }
      }
    }

    &__team {
      font-weight: 800;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      text-transform: uppercase;
      max-width: 100%;
      margin-top: 0.5rem;
    }

    &__odd {
      font-weight: 800;
      font-size: 24px;
      line-height: 35px;
      display: flex;
      justify-content: center;
      margin-top: 0.5rem;

      span {
        margin: 0 1.5rem;

        &:before {
          height: 35px;
          width: 35px;
          text-align: right;
        }
      }
    }

    .btn--hotmatch {
      border: 0;
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      background-color: #b50000;
      height: auto;
      color: #fff;
      font-size: 18px;
      line-height: 26px;
      padding: 1rem 2rem;
      min-width: 220px;
      border-radius: 3px;
      cursor: pointer;
    }

    &__arrow {
      height: 58px;
      width: 58px;
      border-radius: 3px;
      border: 1px solid $body-color;

      &--prev {
        right: calc(50% + 156px);
        bottom: calc(4rem);
        top: unset;
        transform: rotate(180deg) translateX(-50%);
      }

      &--next {
        left: calc(50% + 156px);
        right: unset;
        bottom: calc(4rem);
        top: unset;
        transform: translateX(-50%);
      }
    }
  }
}
