$lobby-search: 'lobby-search';

.#{$lobby-search} {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 100;
  padding-bottom: .5rem;
  @include mq($from : mobile) {
    max-width: 400px;
    margin: 1.5rem .5rem 2rem;
  }
  @include mq($until : mobile) {
    margin: .5rem .5rem;
    padding-bottom: 1rem;
  }

  &.searching {
    .btn--search {
      .search {
        background: url("#{$image-path}icons/close.svg") no-repeat center;
        background-size: cover;
        opacity: 1;
        z-index: 4;
      }
    }

    .lobby-search__filter {
      opacity: 0;
    }

    .lobby-search__input {
      .lobby-search__input__wrap {
        opacity: 1;
        z-index: 1;
      }
    }
  }

  &__highlight {
    color: $second-color;
  }

  /deep/ &__dropdown-default {
    background-color: #21556A;
    @include mq($from : mobile) {
      background-color: #007bff;
    }
  }

  /deep/ &__dropdown {
    margin-right: .5rem;
    width: calc((100% - .5rem) / 100 * 55);
    position: relative;

    .btn-secondary {
      &:focus {
        box-shadow: none;
      }
      &:active {
        background-color: $body-bg;
        border-color: $second-color;
      }
    }

    .dropdown-toggle {
      border: 1px solid $second-color;
      background: $body-bg;
      padding: .5rem 2.5rem .5rem 1rem;
      width: 100%;
      text-align: left;
      font-size: 12px;

      @include mq($from : mobile) {
        font-size: 14px;
      }

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
        background: url("#{$image-path}icons/down.svg") no-repeat center;
        background-size: 45%;
        height: 40px;
        width: 40px;
        z-index: 2;
        border: none;

        @include mq($from : mobile) {
          background-size: 30%;
        }
      }

      p {
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .dropdown-menu {
      width: 100%;
      min-width: unset;
      background: $body-bg;
      border-color: #4e555b;
      padding: 0;
      border-radius: 0;

      .dropdown-item {
        color: $body-color;
        font-size: 12px;
        padding: 10px 12px;

        &:hover {
          background-origin: #21556A;
          @include mq($from : mobile) {
            background-color: #007bff;
          }
        }

        @include mq($from : mobile) {
          font-size: 14px;
          padding: 2px 12px;
        }
      }
    }

    @include mq($from : mobile) {
      margin-right: 1rem;
      width: 210px;

      &:after {
        background-size: 30%;
      }
    }
  }

  /deep/ &__filter {
    display: flex;
    width: calc(100% - 40px - .5rem);
    transition: all .3s linear;

    &__supplier {
      margin-right: .5rem;
      width: calc((100% - .5rem) / 100 * 45);
      position: relative;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
        background: url("#{$image-path}icons/down.svg") no-repeat center;
        background-size: 45%;
        height: 40px;
        width: 40px;
        z-index: 2;
      }
    }

    &__wallet {
      margin-right: .5rem;
      width: calc((100% - .5rem) / 100 * 55);
      position: relative;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
        background: url("#{$image-path}icons/down.svg") no-repeat center;
        background-size: 45%;
        height: 40px;
        width: 40px;
        z-index: 2;
      }
    }
  }

  .select {
    font-size: 12px;
    line-height: 19px;
    padding: .5rem 2rem .5rem 1rem;
    user-select: none;
    overflow: hidden;
    color: $body_color;
    border: 1px solid $body-color;
    border-radius: 3px;
    height: 40px;
    appearance: none;
    position: relative;
    background: $body-bg;
    display: block;
    width: 100%;
    outline: none;
    cursor: pointer;
    z-index: 2;
    text-overflow: '';
    &:disabled {
      cursor: not-allowed;
      background: #323439;
    }
    @include mq($from: smallMobile-768) {
      font-size: 14px;
    }

    &--wallet {
      border: 1px solid #FEBC1F;
    }

    option[disabled] {
      color: #eeeeee;
      text-shadow: none;
      border: none;
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #888888;
    }

    &::-ms-expand {
      display: none;
    }
  }

  &__input {
    display: flex;

    &__wrap {
      order: 2;
      width: calc(100% - 40px - 1rem);
      left: 0;
      opacity: 0;
      transition: all .2s linear;
      position: absolute;
      top: 0;
      z-index: -1;
      display: flex;
      flex-flow: column-reverse;

      &__control {
        background: #323439;
        border: 1px solid #323439;
        box-sizing: border-box;
        border-radius: 3px;
        height: 40px;
        font-size: 12px;
        line-height: 18px;
        color: #838A92;
        padding: 0.5rem 1rem;
        width: 100%;
        cursor: text;
      }
    }

    .btn--search {
      display: flex;
      padding: 0.5rem;
      background-color: #F7F8FA;
      height: 40px;
      width: 40px;
      border-radius: 3px;
      margin-left: .5rem;
      z-index: 2;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      border: 0;
      white-space: nowrap;
      position: relative;
      overflow: hidden;

      .search {
        display: inline-block;
        background: url("#{$image-path}icons/search.svg") no-repeat center;
        background-size: cover;
        width: 22px;
        height: 22px;
        transition: all .2s linear;

        &.close {
          background: url("#{$image-path}icons/close.svg") no-repeat center;
          background-size: cover;
          opacity: 1;
        }
      }
    }
  }

  @include mq($from : mobile) {
    margin: 0;
    order: 1;
    max-width: unset;
    transform: translateX(0);
    transition: all .3s linear;

    /deep/ &__dropdown {
      margin-right: 1rem;
      width: 210px;

      &:after {
        background-size: 30%;
      }
    }

    &__filter {
      order: 2;

      &__supplier {
        margin-right: 1rem;
        width: 180px;

        &:after {
          background-size: 30%;
        }

      }

      &__wallet {
        margin-right: 1rem;
        width: 210px;

        &:after {
          background-size: 30%;
        }
      }
    }

    &__input {
      order: 1;

      &__wrap {
        order: 2;
        width: calc(100% - 40px - 1rem);
        left: 56px;
      }

      .btn--search {
        padding: 0.5rem;
        order: 1;
        margin-left: 0;
        margin-right: 1rem;
      }
    }

    .select {
      font-size: 14px;
      line-height: 22px;
    }
  }
}



