/* 
color: #cf3035
 */
html,
body, #root{
	height: 100%;
	overflow: auto;
	font-family: "Josefin Sans", sans-serif;
  	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 600;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #585858;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
}

.section-title h2 {
	font-size: 36px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left bottom
}

.spad {
	padding-top: 105px;
	padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
  Commom elements
-----------------------*/

/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	min-width: 167px;
	padding: 18px 47px 14px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #cf3035;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-white {
	background: #fff;
	color: #111111;
}

.site-btn.sb-line {
	background: transparent;
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
}

.site-btn.sb-dark {
	background: #413a3a;
}

.site-btn.sb-dark.sb-line {
	background-color: transparent;
	color: #111111;
	-webkit-box-shadow: inset 0 0 0 1px #111111;
	box-shadow: inset 0 0 0 1px #111111;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.elements-section {
	padding-top: 100px;
}

.el-title {
	margin-bottom: 75px;
}

.element {
	margin-bottom: 100px;
}

.element:last-child {
	margin-bottom: 0;
}

/* features */

.feature {
	text-align: center;
	background: #f8f8f8;
	height: 100%;
}

.feature-inner {
	padding: 20px 25px;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}

.feature-main{
    background: #cf3035;
}

.feature-main h2{
    color: #fff;
}

.feature-icon {
	display: inline-block;
	margin-right: 15px;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	display: inline-block;
}

/* header nav */

.main-navbar {
	background: #282828;
}
.main-menu {
	list-style: none;
	margin: 0
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-right: 50px;
	line-height: 1;
	padding: 17px 0;
    position: relative;
    text-decoration: none;
	outline: none;
}

.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.main-menu li:hover>a {
	color: #cf3035;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 8px 20px;
}

.main-menu .sub-menu li a:hover {
	color: #cf3035;
}

/* header top */

.header-top {
	padding: 18px 0 14px;
}
.header-search-form {
	width: 100%;
	position: relative;
	padding: 0 10px;
}

.header-search-form input {
	width: 100%;
	height: 44px;
	font-size: 14px;
	border-radius: 50px;
	border: none;
	padding: 0 19px;
	background: #f0f0f0;
}

.header-search-form button {
	position: absolute;
	height: 100%;
	right: 18px;
	top: 0;
	font-size: 26px;
	color: #000;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;

}

.user-panel .up-item {
	display: inline-block;
    font-size: 14px;
}

.user-panel .up-item svg {
    font-size: 25px;
    margin-right: 3px;
    margin-bottom: 10px;
}

.user-panel .up-item a {
	font-size: 14px;
    color: #000;
    text-decoration: none;
    outline: none;
}

.user-panel .up-item:first-child {
	margin-right: 29px;
}

.shopping-card {
	display: inline-block;
	position: relative;
}

.shopping-card span {
	position: absolute;
	top: -7px;
	left: 100%;
	height: 16px;
	min-width: 16px;
	color: #fff;
	font-size: 13px;
	background: #cf3035;
	text-align: center;
	border-radius: 30px;
	padding: 0 2px;
	margin-left: -7px;
}

/* product item */

.product-item .pi-pic {
	position: relative;
	display: block;
}

.product-item .pi-links {
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 18px;
	z-index: 9;
	text-align: right;
}

.product-item .pi-links a {
	display: inline-table;
	width: 36px;
	height: 36px;
	background: #fff;
	border-radius: 60px;
	font-size: 18px;
	line-height: 18px;
	padding-top: 9px;
	overflow: hidden;
	color: #000;
	position: relative;
	-webkit-box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
    text-align: center;
    margin-right: 5px;
}

.product-item .pi-links a:hover .pi-icon {
	color: #cf3035;
}

.product-item .pi-links a.add-card {
	padding-top: 8px;
}

.product-item .pi-links a span {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	right: 19px;
	top: 20px;
	opacity: 0;
}

/* .product-item .pi-links a:hover {
	width: 120px;
	padding: 8px 18px 0;
	text-align: left;
} */

/* .product-item .pi-links a:hover span {
	opacity: 1;
	top: 10px;
	-webkit-transition: all 0.4s ease 0.3s;
	-o-transition: all 0.4s ease 0.3s;
	transition: all 0.4s ease 0.3s;
} */

.product-item .pi-text {
	padding-top: 22px;
	height: 87px;
}

.product-item .pi-text h6 {
	float: right;
	padding-left: 40px;
	overflow: hidden;
	font-weight: 700;
	color: #111111;
}

.product-item .pi-text p {
	font-size: 16px;
	color: #111111;
	margin-bottom: 0;
}

/* Footer */

.footer-section {
	background: #282828;
	padding-top: 60px;
}

.footer-logo {
	padding-bottom: 60px;
}

.footer-widget {
	margin-bottom: 70px;
	overflow: hidden;
}

.footer-widget h2 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 45px;
}

.footer-widget p {
	color: #8f8f8f;
}

.footer-widget input{
	height: 50px;
    width: 100%;
    border: none;
    background: none;
    border-bottom: 2px solid #5e5e5d;
    color: #b0b0b0;
    font-size: 16px;
}

.footer-widget button{
	display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: 2px solid #cf3035;
    background: #cf3035;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-top: 20px;
}

/* hero section */

.hs-item {
    height: 720px;
}

 .hs-item span {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	margin-bottom: 5px;
	display: block;
	top: 50px;
}

 .hs-item h2 {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
	top: 50px;
}

 .hs-item p {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 35px;
	top: 100px;
}

 .hs-item .site-btn {
	top: 50px;
}

 .hs-item .sb-line {
	margin-right: 5px;
}

 .hs-item .container {
	padding-top: 170px;
}

.hs-item .container .row {
	width: 55%;
	background: #cf3035;
	padding: 20px
}

 .hs-item .offer-card {
	margin-top: 20px;
	width: 162px;
	height: 162px;
	border-radius: 50%;
	background: #cf3035;
	text-align: center;
	padding-top: 20px;
}

 .hs-item .offer-card span {
	font-size: 18px;
	text-transform: lowercase;
	top: 50px;
}

 .hs-item .offer-card h2 {
	font-size: 72px;
	font-weight: 400;
	line-height: 1;
}

 .hs-item .offer-card p {
	text-transform: uppercase;
	line-height: 1;
	font-size: 14px;
}

/* slider section */

.slider-section {
	padding-top: 70px;
	padding-bottom: 65px;
}

.product-title{
    margin-bottom: 50px;
}

/* page title */

.page-title {
	background: #f8f7f7;
	padding: 60px 0 70px;
}

.page-title h4 {
	color: #414141;
	font-weight: 700;
	text-transform: uppercase;
}

.pt-link {
	font-size: 14px;
	font-weight: 600;
	color: #414141;
}

.pt-link a {
	display: inline-block;
	font-size: 14px;
	color: #414141;
}

/* product detail */

.product-detail {
	padding-top: 70px;
	padding-bottom: 65px;
}

.product-pic-zoom {
	margin-bottom: 35px;
}

.product-thumbs-track {
	width: 1200px;
}

.product-thumbs .pt {
	width: 116px;
	height: 116px;
	float: left;
	margin-right: 31px;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.product-thumbs .pt:last-child {
	margin-right: 0;
}

.product-thumbs .pt.active:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border: 2px solid #cf3035;
	z-index: 1;
}

.p-title {
	font-size: 18px;
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.p-price {
	font-size: 24px;
	color: #414141;
	font-weight: 700;
	margin-bottom: 20px;
}

.p-stock {
	font-size: 12px;
	color: #000;
	font-weight: 700;
	color: #414141;
	margin-bottom: 10px;
}

.p-stock span {
	color: #cf3035;
}

.p-rating {
	margin-bottom: 15px;
}

.p-rating i {
	color: #cf3035;
}

.p-rating i.fa-fade {
	color: #e6e6e6;
}

.p-review a {
	color: #414141;
	font-size: 14px;
	margin-right: 12px;
	margin-left: 12px;
}

.p-review a:first-child {
	margin-left: 0;
}

.fw-size-choose {
	border-bottom: none;
	margin-bottom: 30px;
	padding-bottom: 0;
}

.fw-size-choose .sc-item {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.fw-size-choose p {
	float: left;
	margin-right: 38px;
	text-transform: uppercase;
	font-weight: 700;
	color: #414141;
	padding-top: 10px;
	margin-bottom: 0;
}

.fw-size-choose label {
	width: 33px;
	height: 33px;
	font-size: 12px;
	border: 2px solid #414141;
}

.fw-size-choose input[type=radio]:checked+label {
	border: 2px solid #cf3035;
	visibility: hidden;
	position: absolute;
}

.fw-size-choose input[type=radio] {
	border: 2px solid #cf3035;
	visibility: hidden;
	position: absolute;
}

.fw-size-choose {
	border-bottom: none;
	margin-bottom: 30px;
	padding-bottom: 0;
}

.fw-size-choose p {
	float: left;
	margin-right: 38px;
	text-transform: uppercase;
	font-weight: 700;
	color: #414141;
	padding-top: 10px;
	margin-bottom: 0;
}

.fw-size-choose label {
	width: 33px;
	height: 33px;
	font-size: 12px;
	border: 2px solid #414141;
	border-radius: 50px;
	text-align: center;
	font-size: 12px;
	padding: 7px 0 0;
	cursor: pointer;
}

.fw-size-choose input[type=radio]:checked+label {
	border: 2px solid #cf3035;
}

.fw-size-choose .disable label {
	border: 2px solid #e1e1e1;
	color: #cacaca;
}

.site-btn {
	min-width: 190px;
	margin-right: 25px;
}

.quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 40px;
}

.quantity p {
	float: left;
	margin-right: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #414141;
	padding-top: 10px;
	margin-bottom: 0;
}

.quantity .pro-qty {
	width: 94px;
	height: 36px;
	border: 1px solid #ddd;
	padding: 0 15px;
	border-radius: 40px;
	float: left;
}

.quantity .pro-qty .qtybtn {
	width: 15px;
	display: block;
	float: left;
	line-height: 36px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	color: #404040;
}

.quantity .pro-qty input {
	width: 28px;
	float: left;
	border: none;
	height: 36px;
	line-height: 40px;
	padding: 0;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
}

.desc{
	margin-top: 50px;
	padding: 20px 0;
	border-top: 2px solid #8f8f8f;
}

.desc h2{
	padding: 20px 0;
}

/* product */

.product-section {
	padding-top: 70px;
	padding-bottom: 65px;
}

.product-title{
    margin-bottom: 50px;
}

.product-menu {
	list-style: none;
	margin: 0 -10px;
	padding-bottom: 15px;
}

.product-menu li {
	margin: 0 10px 10px;
	display: inline-block;
}

.product-menu li a {
	color: #111111;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	background: #ebebeb;
	display: block;
	width: 100%;
	padding: 10px 34px;
	border-radius: 31px;
}
.pill-btn{
    background-color: transparent;
    color: #111111;
    box-shadow: inset 0 0 0 1px #111111;
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 600;
    min-width: 167px;
    padding: 18px 47px 14px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #111111;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

/* Form login and register */
.form-section{
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}
.wrap-form{
	margin-top: 20px;
	padding: 50px;
	width: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
	padding: 77px 55px 33px 55px;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	color: #212529;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.wrap-form .form .form-title{
	display: block;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
	text-align: center;
	padding-bottom: 26px;
}

.wrap-form .form .wrap-input{
	position: relative;
	width: 100%;
	border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.wrap-form .form .wrap-input input{
    font-size: 20px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
	padding: 0 5px;
	outline: none;
	border: none;
	overflow: visible;
}

.wrap-form .form .wrap-input span{
	position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 15px;
    left: 5px;
	pointer-events: none;
	color: #555555;
}

.wrap-form .form .wrap-btn{
	margin-left: 25px;
}

.wrap-form .form .text-wrap{
	padding-top: 25px;
}

/* Profile */

.profile-section {
	padding-top: 70px;
	padding-bottom: 65px;
}
.profile-img img{
    width: 100%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    /* margin-top: -20%; */
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file:hover {
    cursor: pointer;
    background: #cf3035;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-img .file :hover, .change-qty:hover, .remove-cart:hover {
    cursor: pointer;
}

.profile-head p, .profile-head .profile{
	margin-top: 1rem
}

.profile-head .profile-value input, .react-datepicker-wrapper{
	width: 100%
}
.term {
	margin-top: 5%
}
.product-detail-form-label{
	width: 100%;
	margin-top: 2%
}

.cate-query{
	background-color: #cf3035 !important
}