html {
  &.no-scroll {
    overflow : hidden;
  }
  background-color : $body-color;
}

body {
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  font-size               : 13px;
  line-height             : 16px;
  overflow-x              : hidden;
  padding-right           : 0 !important;
  font-family             : $font-family-base;
  .modal {
    padding-right : 0 !important;
  }
  &.modal-open {
    overflow : hidden;
  }
  @include mq($from : smallMobile-768) {
    font-size   : 14px;
    line-height : 20px;
  }
}

.container {
  max-width : $container-width !important;

  .adaptive & {
    max-width : none !important;
    width     : $container-width;
  }

  .adaptive.mobile & {
    max-width : none !important;
    width     : 100%;
  }
  @include mq($until : smallMobile-768) {
    padding-left  : .5rem !important;
    padding-right : .5rem !important;
  }
}

* {
  outline : none;
}

a {
  &:hover {
    text-decoration : none;
  }
}

img {
  max-width : 100%;
}

.hover-shine {
  overflow : hidden;
  position : relative;
  display  : block;
  &:before {
    pointer-events    : none;
    position          : absolute;
    top               : 0;
    left              : -100%;
    z-index           : 2;
    display           : block;
    content           : '';
    width             : 50%;
    height            : 100%;
    background        : transparent;
    background        : -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background        : -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background        : -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background        : linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    -webkit-transform : skew(-25deg);
    -moz-transform    : skew(-25deg);
    -ms-transform     : skew(-25deg);
    -o-transform      : skew(-25deg);
    transform         : skew(-25deg);
  }
  @include hover {
    &:before {
      -webkit-animation : shine 1s;
      -moz-animation    : shine 1s;
      -ms-animation     : shine 1s;
      -o-animation      : shine 1s;
      animation         : shine 1s;
    }
  }
}

.img-position {
  overflow : hidden;
  position : relative;
  a {
    display : block;
  }
  img, video {
    display       : block;
    position      : absolute;
    top           : 0;
    left          : 0;
    right         : 0;
    bottom        : 0;
    -o-object-fit : cover;
    object-fit    : cover;
    height        : 100%;
    width         : 100%;
  }
  &--contain {
    img {
      -o-object-fit : contain;
      object-fit    : contain;
    }
  }
}

.img-block {
  img, picture img {
    width : 100%;
  }
}

img.swiper-lazy {
  opacity    : 0;
  transition : all 0.5s ease;
  &.swiper-lazy-loaded {
    opacity    : 1;
    transition : all 0.5s ease;
  }
}

img.lazyload {
  opacity    : 0;
  transition : all 0.5s ease;
}

img.lazyloaded {
  opacity    : 1;
  transition : all 0.5s ease;
}

@keyframes shine {
  100% {
    left : 125%;
  }
}
