$history-item : 'history-item';

.#{$history-item} {
  font-size      : 12px;
  line-height    : 18px;
  color          : #838a92;
  padding-bottom : 1rem;
  margin-bottom  : 1rem;
  border-bottom  : 1px solid #0c0a0a;
  &__head {
    &.not-collapsed {
      .arrow {
        transform : rotate(0deg);
      }
    }
  }
  &__content {
    margin-bottom : 3rem;
  }
  &__item {
    font-size      : 12px;
    line-height    : 18px;
    color          : $fifth-color;
    padding-bottom : 1rem;
    margin-bottom  : 1rem;
    border-bottom  : 1px solid #0c0a0a;
  }
  &__wrap {
    display         : flex;
    justify-content : space-between;
    margin-bottom   : .25rem;
    &:last-child {
      margin-bottom : 0;
    }
    .type {
      max-width : 70%;
    }
    p {
      display     : flex;
      align-items : center;
    }
    b {
      color : #ffffff;
    }
  }
  &__body {
    background    : #323439;
    border-radius : 6px;
    margin-top    : .5rem;
    /deep/ p {
      padding      : 0 0.5rem;
      text-align   : center;
      border-right : 0.5px dashed rgba(255, 255, 255, 0.4);
      margin       : .5rem 0;
      &:last-child {
        border-right : 0;
      }
    }
    /deep/ span {
      display     : block;
      font-size   : 14px;
      line-height : 20px;
      color       : #ffffff;
    }
  }
  &__grid {
    display               : grid;
    grid-template-columns : repeat(3, 1fr);
  }
  .type, .money {
    font-size   : 16px;
    line-height : 23px;
    color       : #ffffff;
  }
  .time {
    line-height : 12px;
    span {
      display : inline-block;
    }
  }
  .day {
    padding-right : .25rem;
    border-right  : 1px solid #494b60;
  }
  .hour {
    padding-left : .25rem;
  }
  .arrow {
    display         : inline-block;
    height          : 12px;
    width           : 12px;
    background      : url("#{$image-path}components/account/sp/arrow-up.svg") no-repeat center;
    background-size : contain;
    margin-left     : .25rem;
    transform       : rotate(180deg);
  }
}

